<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="stylesheet" rel="stylesheet"
/>

<div class="j-ng2-table" *ngIf="data">
    <div class="j-ng2-table-container">
        <div class="pinned-data">
            <div class="tr">
                <div [ngClass]="{'th' : col['pinned']}" *ngFor="let col of cols">
                    <div *ngIf="col['pinned']">
                        <span class="fa" [ngClass]="{'fa-caret-down': col['sort']==true, 'fa-caret-up': col['sort']==false, 'fa-minus': col['sort']==null}"
                            (click)="sortClicked(col)"></span>
                            {{col['name']}}
                    </div>
                </div>
            </div>
            <div class="tr" *ngFor="let row of data">
                <div [ngClass]="{'td' : col['pinned']}" *ngFor="let col of cols">
                    <div *ngIf="col['pinned']">
                        {{row[col['name']]}}
                    </div>
                </div>
            </div>
        </div>
        <div class="not-pinned-data">
            <div class="tr">
                <div [ngClass]="{'th' : !col['pinned']}" *ngFor="let col of cols">
                    <div *ngIf="!col['pinned']">
                        <span class="fa" [ngClass]="{'fa-caret-down': col['sort']==true, 'fa-caret-up': col['sort']==false, 'fa-minus': col['sort']==null}"
                            (click)="sortClicked(col)"></span>
                            {{col['name']}}
                    </div>
                </div>
            </div>
            <div class="tr" *ngFor="let row of data">
                <div [ngClass]="{'td' : !col['pinned']}" *ngFor="let col of cols">
                    <div *ngIf="!col['pinned']">
                        {{row[col['name']]}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>